.el-dropdown .el-button.el-dropdown-link.el-button--text{
    padding: 9px 0px;
    font-size: 12px;
}
.cursor-pointer{
    cursor: pointer;
}

.cursor-pointer input{
    cursor: pointer;
}
.cursor-pointer:hover.el-input__icon{
    color: gray;
}
.el-input__icon.el-icon-arrow-up{
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.el-input__icon.el-icon-arrow-up.is-reverse{
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
}
.el-dialog__header {
    padding: 15px 15px 10px;
    border-bottom: 1px solid #e2e2e2;
}
.el-dialog__body{
    padding: 15px;
}
.el-dialog__footer{
    padding: 10px;
    border-top: 1px solid #e2e2e2;
}
.el-input__inner{
    padding: 0px 8px;
}
.text-info{
    color:#909399;
}

.el-table td, .el-table th {
    padding: 8px 0px;
}
.el-table .cell{
    line-height: 18px;
}
.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
    padding-left: 5px;
}
.el-table .cell, .el-table th div{
    padding-right: 5px;
}
.el-alert{
    word-break: break-all;
}